.shelfContainer {
  height: calc(var(--BinderSize) * 1.6);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: margin 0.25s;
}

.stackSlider {
  height: calc(var(--BinderSize) * 1.6);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}
